@using Hudayim.Uyelik.Web.Models.Common.Modals
@using Hudayim.Uyelik.Web.Models.Birims
@model BirimViewModel
@{ Layout = null; }
<div class="modal fade" id="BirimCreateModal" tabindex="-1" role="dialog" aria-labelledby="BirimCreateModalLabel" data-backdrop="static">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewUnit")))
			<form name="BirimCreateForm" role="form" class="form-horizontal">
				<div class="modal-body">
					<div class="form-group row required">
						<label class="col-md-3 col-form-label">@L("Name")</label>
						<div class="col-md-9">
							<input type="text" class="form-control" id="ad" name="Ad" required minlength="2">
						</div>
					</div>
					<div class="form-group row required">
						<label class="col-md-3 col-form-label">@L("OrderNo")</label>
						<div class="col-md-9">
							<input id="siraNo" type="number" class="form-control" name="SiraNo">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="CreateBirimIsActive">@L("IsActive")</label>
						<div class="col-md-9">
							<input type="checkbox" name="AktifMi" value="true" id="CreateBirimIsActive" checked />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="CreateKategoriIsPlatform">@L("IsPlatform")</label>
						<div class="col-md-9">
							<input type="checkbox" name="PlatformMu" value="true" id="CreateKategoriIsPlatform" checked />
						</div>
					</div>
				</div>
				@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
			</form>
		</div>
	</div>
</div>